.git
.gitignore
.gcloudignore

# Node.js
**/node_modules/
**/dist/
**/.angular/

# Python
**/.venv/
**/.adk/
**/.ruff_cache/
**/.pytest_cache/
**/__pycache__/
*.pyc

# Terraform
**/.terraform/
**/terraform.tfstate*

# Project specific
renderer/
tests/
